$next-black: #000;
$next-grey: #1E1E1E;
$next-white: #fff;
$next-yellow: #B78B1F;
$next-orange: #ff0000;
$next-green: #30a74b;
$next-green-text: #257f39;
$next-header: #DCF0EF;
$next-border: #eaeaea;
$next-footer: #f7f7f7;
$next-footer-text: #515151;
$rak-blue: #001C64;